doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path==='/'? 'active': '')) Shop
                    li.main-header__item
                        a(href="/admin/add-product", class=(path==='/admin/add-product'? 'active': '')) Add Product
        block content