<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{docTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productCSS}}
    <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if formsCSS}}
    <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
</head>
<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a>
        </li>
        <li class="main-header__item">
          <a href="/admin/add-product" class="{{#if activeAddProduct }}active{{/if}}">Add Product</a>
        </li>
      </ul>
    </nav>
  </header>
      {{{ body }}}
</body>
</html>