<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
  </head>
  <body>
   <%- include('includes/navigation.ejs') %>
    <main>
      <form class="product-form" action="/admin/add-product" method="post">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" />
        </div>
        <button
          type="submit">
          Add Product
        </button>
      </form>
    </main>
<%- include('includes/end.ejs') %>
