
    <main>
      <form class="product-form" action="/admin/add-product" method="post">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" />
        </div>
        <button
          type="submit">
          Add Product
        </button>
      </form>
    </main>
